@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global styles here */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #FFFFFF; /* A very light purple background */
  color: #4A0E4E; /* Dark purple for general text */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: #9C27B0; /* Grapevine-600 for links */
  transition: color 0.3s ease;
}

a:hover {
  color: #7B1FA2; /* Grapevine-800 for link hover state */
}
